@import '../../helpers/variables.scss';

.menu {
    max-width: 500px;
    background-color: $main-green;
    margin: 50px auto;
    padding: 20px 0;
    text-align: center;
    a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        color: $main-black;
        font-weight: bold;
        opacity: 1;
        padding: 10px;
        text-decoration: none;
        transition: 0.2s opacity;
        &:hover {
            opacity: 0.8;
        }
    }
}